<h1>All Customers without Email Address</h1>

<ul class="customer_list">
  <% @customers.each do |customer| %>
    <li>
      <%= render "customer", customer: customer %>
    </li>
  <% end %>
</ul>

<%= link_to "New Customer", new_customer_path %>